In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
d ={'A':[1,2,np.nan],'B':[1,np.nan,np.nan],'C':[1,2,np.nan]}

In [4]:
df = pd.DataFrame(d)
df

     A    B    C
0  1.0  1.0  1.0
1  2.0  NaN  2.0
2  NaN  NaN  NaN

In [5]:
df.dropna()

     A    B    C
0  1.0  1.0  1.0

In [6]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [7]:
df.dropna(thresh=2)

     A    B    C
0  1.0  1.0  1.0
1  2.0  NaN  2.0

In [8]:
df.dropna(axis=1,thresh=2)

     A    C
0  1.0  1.0
1  2.0  2.0
2  NaN  NaN

In [9]:
df.fillna(value=df.max())

     A    B    C
0  1.0  1.0  1.0
1  2.0  1.0  2.0
2  2.0  1.0  2.0

In [10]:
df.fillna(value=df.mean())

     A    B    C
0  1.0  1.0  1.0
1  2.0  1.0  2.0
2  1.5  1.0  1.5

In [13]:
df.fillna(value=df.std())

          A    B         C
0  1.000000  1.0  1.000000
1  2.000000  NaN  2.000000
2  0.707107  NaN  0.707107

In [12]:
df.fillna(value=df[['A','B']].mean())

     A    B    C
0  1.0  1.0  1.0
1  2.0  1.0  2.0
2  1.5  1.0  NaN