# Pandas

In [2]:
import numpy as np

In [3]:
import pandas as ps

In [4]:
label=['a','b','c']

In [5]:
arr=np.array([1,2,3])

In [6]:
d={'a':1,'b':2,'c':3}

In [7]:
my_list=[10,20,30]

In [8]:
a=ps.Series(data=arr,index=label) 
a

a    1
b    2
c    3
dtype: int32

In [9]:
a['a']

1

In [10]:
ps.Series(arr,label)

a    1
b    2
c    3
dtype: int32

In [11]:
ps.Series(arr)

0    1
1    2
2    3
dtype: int32

In [12]:
ps.Series(d) # auto detect label(indeX) and  data

a    1
b    2
c    3
dtype: int64

In [19]:
ser1=ps.Series(data=[1,2,3],index=['india','pakistan','japan'])

In [20]:
ser1

india       1
pakistan    2
japan       3
dtype: int64

In [21]:
ser2=ps.Series([3,4,5],['india','pakistan','Usa'])

In [22]:
ser2

india       3
pakistan    4
Usa         5
dtype: int64

In [23]:
ser1+ser2

Usa         NaN
india       4.0
japan       NaN
pakistan    6.0
dtype: float64