In [3]:
1+2

3

In [19]:
1+2

3

In [187]:
x='abakdlq'

In [188]:
x

'abakdlq'

In [195]:
x[3]

'k'

In [198]:
x[:5]

'abakd'

In [200]:
x[4:]

'dlq'

In [201]:
print(x)

abakdlq

In [202]:
x[1:3]

'ba'

In [23]:
2**2

4

In [24]:
2*2

4

In [25]:
print(1+1)

2

In [26]:
2**3

8

In [27]:
name ='aditya'
age=25

In [32]:
print('my name is:{oh}, my age is:{ag}' .format(oh=name,ag=age))

my name is:aditya, my age is:25

In [33]:
print('my name is :{}, my age is {}' .format(name,age))

my name is :aditya, my age is 25

# list

In [35]:
[1,2,3]

[1, 2, 3]

In [36]:
[1,2,3,[12,3,3]]

[1, 2, 3, [12, 3, 3]]

In [37]:
my_list=[1,2,4,5]

In [38]:
my_list

[1, 2, 4, 5]

In [39]:
my_list.append(1)

In [203]:
my_list

[1, 2, 4, 5, 1]

In [204]:
my_list[1:2]

[2]

In [207]:
my_list[3]

5

In [211]:
my_list[1]='new'

In [212]:
my_list

[1, 'new', 4, 5, 1]

In [213]:
my_list[1:4]

['new', 4, 5]

In [214]:
nest=[3,4,2,['lis',2,'a']]

In [215]:
nest

[3, 4, 2, ['lis', 2, 'a']]

In [216]:
nest[0]

3

In [275]:
nest[3][0]

'lis'


### dictionaries

In [261]:
d={'a':[1,2,3,['new',3,['new_new']]],3:'S','key3':'1'}

In [262]:
d

{'a': [1, 2, 3, ['new', 3, ['new_new']]], 3: 'S', 'key3': '1'}

In [263]:
d['a']

[1, 2, 3, ['new', 3, ['new_new']]]

In [264]:
d[3]

'S'

In [277]:
d['a'][3][2][0]

'new_new'

In [295]:
d={'key':{'key':[1,23],'key2':4},'key2':43} #dictionary inside dictionary

In [296]:
d

{'key': {'key': [1, 23], 'key2': 4}, 'key2': 43}

In [298]:
d['key']['key']

[1, 23]

In [299]:
d['key']['key'][1]

23

### boolean and tupes, sets, comparision

In [222]:
True

True

In [223]:
False

False

In [310]:
t=(1,2,2,3) #tupel

In [311]:
t

(1, 2, 2, 3)

In [314]:
t[2]

2

In [315]:
t[0]=23

TypeError: 'tuple' object does not support item assignment

In [317]:
t

(1, 2, 2, 3)

In [318]:
{1,2,3,34} #set

{1, 2, 3, 34}

In [320]:
{1,2,1,2,11,1,1,2,33}

{1, 2, 11, 33}

In [322]:
s={1,2,3,2}

In [324]:
s

{1, 2, 3}

In [327]:
s.add(10)
s

{1, 2, 3, 10}

In [328]:
set([1,2,3,4,2,])

{1, 2, 3, 4}

In [269]:
1>1

False

In [270]:
1>3

False

In [271]:
2>3

False

In [272]:
1<22

True

In [273]:
1>=1 #order of > then =

True

In [274]:
1=>1  #order

SyntaxError: invalid syntax (<ipython-input-274-f716411bd298>, line 1)

In [ ]:
1==1

In [ ]:
'a'==a

In [ ]:
'a'=='b'

In [ ]:
'aaa'=='aaa'

# LOGICAL OPERATION

In [229]:
(1<=1) or (2<1)

True

In [230]:
(1<=1) and (2<1)

False

In [231]:
(1==2 ) or (2==2) and (2>1)

True

In [232]:
(1==2 ) or ((2==3) and (2>1))

False

# if ,else, elif  statements

In [233]:
if(1<2):
    print('my name is aditya')

my name is aditya

In [234]:
if(2<3 and 2==4):
    print('my name is golu')
else:
    print('my name is negi')

my name is negi

In [235]:
if(3>5):
    print('3>5')
elif(1>3):
    print('1>3')
else:
    print('3<5')

3<5

In [236]:
if 3>5:
    print('3>5')
elif 1>3:
    print('1>3')
else:
    print('3<5')

3<5

# for loop

In [237]:
seq=[1,2,3,4,5]

In [238]:
for iteam in seq:
    print(iteam)

1
2
3
4
5

In [239]:
for a in seq:
    print(a+a)

2
4
6
8
10

In [240]:
for a in seq:
    print(a**a)

1
4
27
256
3125

# While Loop

In [241]:
i=0
while i<10:
    print("num is {}".format(i))
    i++

SyntaxError: invalid syntax (<ipython-input-241-787e849c2c75>, line 4)

In [242]:
i=0
while i<10:
    print("num is {}".format(i))
    i=i+1

num is 0
num is 1
num is 2
num is 3
num is 4
num is 5
num is 6
num is 7
num is 8
num is 9

# rang

In [243]:
range(7)

range(0, 7)

In [329]:
for i in range(10):
    print('i is {}'.format(i))

i is 0
i is 1
i is 2
i is 3
i is 4
i is 5
i is 6
i is 7
i is 8
i is 9

In [338]:
j=0
for i in range(6,10):
    print('i is {} j is {}'.format(i,j))

i is 6 j is 0
i is 7 j is 0
i is 8 j is 0
i is 9 j is 0

In [245]:
list(range(3))

[0, 1, 2]

In [246]:
list(d)

['a', 3, 'key3']

In [247]:
list(my_list)

[1, 'new', 4, 5, 1]

In [248]:
list(nest)

[3, 4, 2, ['lis', 2, 'a']]


# List comprehension

In [300]:
x=[1,'a',3]

In [301]:
x

[1, 'a', 3]

In [302]:
out=[]

In [339]:
out

[1]

In [341]:
x=[1,2,3,4]

In [342]:
x

[1, 2, 3, 4]

In [343]:
out.append(1)

In [346]:
out

[1, 1]

In [347]:
out=[]

In [348]:
out

[]

In [351]:
new_out=[]
for i in x:
    new_out.append(i**2)
print(new_out)

[1, 4, 9, 16]

In [352]:
[i**2 for i in x]

[1, 4, 9, 16]

In [355]:
[i**3 for  i in x]

[1, 8, 27, 64]

In [356]:
out=[i**2 for i in x]

In [357]:
out

[1, 4, 9, 16]

###  function

In [367]:
def my_fun(param='default name'):
    print('Hello ' +  param)

In [368]:
my_fun

In [369]:
my_fun('aditya')

Hello aditya

In [370]:
my_fun()

Hello default name

In [9]:
def square(val):
    """
    square of number 
    """
    return val**2

In [10]:
square(6)

36

# lambda

In [ ]:
def square(val):
    """
    square of number 
    """
    return val**2

In [24]:
lambda val: val**2

In [26]:
t=lambda val :val**2

In [27]:
t(5)

25

### map

In [16]:
seq=[1,2,3,4,5,5]

In [17]:
map(square,seq)

In [18]:
list(map(square,seq))

[1, 4, 9, 16, 25, 25]

In [21]:
set(map(square,seq))

{1, 4, 9, 16, 25}

In [28]:
list(map(lambda val:val*3,seq))

[3, 6, 9, 12, 15, 15]

# filter

In [29]:
filter(lambda val:val%2==0,seq)

In [51]:
list(filter(lambda val:val%2==0,seq))

[2, 4]

# method

In [31]:
s='my name is negi'

In [34]:
s.count

In [39]:
s.count('i')

2

In [40]:
s.upper

In [41]:
s.upper()

'MY NAME IS NEGI'

In [44]:
s.split()

['my', 'name', 'is', 'negi']

In [45]:
my_list=[1,2,3,4]

In [46]:
my_list.pop()

4

In [49]:
my_list

[1, 2, 3]

In [50]:
my_list.append(21)
my_list

[1, 2, 3, 21]

In [52]:
tweet='sport #india won #wi #againwonindia #indiagreat #indianteam '

In [53]:
tweet.split()

['sport',
 '#india',
 'won',
 '#wi',
 '#againwonindia',
 '#indiagreat',
 '#indianteam']

In [55]:
tweet.split('#')

['sport ', 'india won ', 'wi ', 'againwonindia ', 'indiagreat ', 'indianteam ']

In [59]:
tweet.split('#')[1][6:9]

'won'

In [61]:
'x' in [1,2,3]

False

In [62]:
'x' in ['x','y','z']

True

In [63]:
x=[(1,2),(2,5),(33,4)]

In [64]:
x

[(1, 2), (2, 5), (33, 4)]

In [65]:
x[2][0]

33

In [66]:
for iteam in x:
    print(iteam)

(1, 2)
(2, 5)
(33, 4)

In [67]:
for (a,b) in x:
    print(a)

1
2
33